body {
    margin: 0;
    font-family: sans-serif;
}

#map {
    width: 70%;
    height: 100vh;
    float: left;
}

#panel {
    width: 30%;
    height: 100vh;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
    background: #f2f2f2;
}

#message {
    position: absolute;
    top: 10px;
    left: 50%;
    padding: 10px;
    background: yellow;
    display: none;
}
