html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#map {
  flex: 1; /* 上半分に地図 */
}

#chart {
  height: 300px; /* 下半分にグラフ */
}
