/* 画面を左右に分割 */
body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* 地図 */
#map {
  width: 50%;
  height: 100%;
}

/* グラフ */
#chart {
  width: 50%;
  height: 100%;
}
